.App {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.memeCard {
    max-height: 250px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px teal;
    overflow: hidden;
}

